<!DOCTYPE html>
<html>
  <head>
    <title>Timer App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/input.css" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-rose-100">
    <%- include('nav') %>
  </body>
</html>
