@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.progress-bar {
  height: 10px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 1s linear;
}
