extends layout

block content
  if user
    h1 WELCOME BACK #{user.username.toUpperCase()}
    include timer/timer
    a(href='/logout') LOGOUT
  else
    h1 Please log in or sign up
    if messages.error
      p.error= messages.error
    if messages.success
      p.success #{messages.success}
    include user/login
    h1 
      a(href='/signup') Sign Up


