extends ../layout

block content
  h3 TIMER
  #timer
    button#startTimer Start Timer
    button#stopTimer Stop Timer
    p#timerDisplay Timer: 0 seconds

    // Dropdown menu for selecting duration
    select#durationSelect
      option(value="5") 5 seconds
      option(value="6") 6 seconds
      option(value="7") 7 seconds

    script(src='/js/timer.js')
